<div class="row">
  <div class="large-9 columns large-centered">
    <h3>Edit Blog Post</h3>
    <%= form_for @blog_post do |f| %>
      <div class="fields">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="fields">
        <%= f.label :content %>
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit class: "button round"  %>
      </div>
    <% end %>
    <%= link_to "Back", blogpost_path(@blog_post) %>
  </div>
</div>
