<div class="row">
  <div class="large-4 columns large-centered">
    <%= form_tag sessions_path do %>
      <div class="fields">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="fields">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actons">
        <%= submit_tag :password, class: "button round small" %>
      </div>
    <% end %>
    <%= link_to "Back", root_path %>
  </div>
</div>
